<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>C&B Inventory</title>
<style>
div {
margin-top: 15px;
margin-right: 15px;
margin-bottom: 15px;
margin-left: 15px;
}
</style>

	</head>
	<!-- comments-->

	<body>
		<div>
		<header>
			<h1>C&B Inventory System</h1>
			<br>
		<nav id= "horizontal">
			<p><a href="http://192.168.1.139:5000/add">add_item</a></p>
			<p><a href="http://192.168.1.139:5000/edit_count">edit count</a></p>
			<p><a href="http://192.168.1.139:5000/edit_description">edit description</a></p>
			<p><a href="http://192.168.1.139:5000/edit_image">edit image</a></p>
			<p><a href="http://192.168.1.139:5000/list">view inventory</a></p>
		</nav>
		</header>
		</div>
	</body>
</html>
