{% extends "base.html" %}

{% block content %}
	<body>
		<div>
	<form action = "{{ url_for('add_user') }}" method = "POST">
         <h3>User data</h3>
       <!--  id<br>
         <input type = number name = "id" /></br> -->
	     first_name<br>
         <input type= "text" name = "first_name" required ></br>
         last_name<br>
         <input type = "text" name = "last_name" required ></br>
         email<br>
         <input type = "text" name = "email" required /><br>
         password<br>
         <input type = "password" name = "password" required /><br>
	     operational_cost<br>
         <input type = number step = 0.01 name = "operational_cost" /><br>
	    <input type = "submit" value = "submit" /><br>
      	</form>
		</div>
	</body>
{% endblock %}

