{% extends "base.html" %}

{% block content %}
	<body>
 	<div>
 	    <h1>C&B Quoting System</h1>
	<table border = 1>
         <thead>
        <td>id</td>
	    <td>first_name</td>
	    <td>last_name</td>
        <td>email</td>
	    <td>password</td>
	    <td>operational_cost</td>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["id"]}}</td>
               <td>{{row["first_name"]}}</td>
               <td>{{row["last_name"]}}</td>
               <td> {{row["email"]}}</td>
	           <td>{{row["password"]}}</td>
	           <td>{{row["operational_cost"]}}</td>
            </tr>
         {% endfor %}
      </table>

      <br><br>
      <a href = "/">Go back to home page</a>
	</div>
      </body>
{% endblock %}
