{% extends "base.html" %}
{% block title %}Edit Monthly Costs{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="jumbotron">
	<form method='POST' action = "{{ url_for('edit_row_monthly_costs', id='id') }}">
         <h3>Edit Costs</h3>
         Email<br>
	 <input type = "text" name = "id" value='{{id}}'> </br>
	 Monthly_Costs<br>
	 <input type = "int" name = "monthly_costs" value='{{monthly_costs}}'><br>
	<input type='submit' value="Submit" class='btn-primary'>
	</form>
</div>
{% endblock %}
