{% extends "base.html" %}
{% block title %}Edit user id{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="jumbotron">
		<title>C&B Quoting System</title>
	</head>
	<!-- comments-->

	<body>
 	<div>
 	    <h1>User Database</h1>
	<table border = 1>
         <thead>
            <td>USER ID</td>
	    <td>MONTHLY EXPENSES</td>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["id"]}}</td>
               <td>{{row["monthly_expenses"]}}</td>
            </tr>
         {% endfor %}
      </table>

      <br><br>

      <a href = "/">Go back to home page</a>
	</div>
	</body>
</div>
{% endblock %}
